## Introduction: Connecting to the Database

In [1]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

The database we are going to use for this project is the Chinook database (chinook).

Chinook is a sample database available for SQL Server, Oracle, MySQL, etc. It can be created by running a single SQL script. Chinook database is an alternative to the Northwind database, being ideal for demos and testing ORM tools targeting single and multiple database servers.

## Information on the Tables and Views in the Database

In [2]:
%%sql
SELECT
    name,
    type
FROM sqlite_master
WHERE type IN ("table","view");

 * sqlite:///chinook.db
Done.

[('albums', 'table'),
 ('sqlite_sequence', 'table'),
 ('artists', 'table'),
 ('customers', 'table'),
 ('employees', 'table'),
 ('genres', 'table'),
 ('invoices', 'table'),
 ('invoice_items', 'table'),
 ('media_types', 'table'),
 ('playlists', 'table'),
 ('playlist_track', 'table'),
 ('tracks', 'table'),
 ('sqlite_stat1', 'table')]

From the results we can deduce that there are no views but only tables in the database. 

Let's describe the tables in the database in much more detail below.

##  Chinook Sample Database Tables

There are 11 tables in the chinook sample database.
- **employees** table: stores employees data such as employee id, last name, first name, etc. It also has a field named ReportsTo to specify who reports to whom.
- **customers** table:  stores customers data.
- **invoices & invoice_items** tables: these two tables store invoice data. The invoices table stores invoice header data and the invoice_items table stores the invoice line items data.
- **artists** table stores artists data. It is a simple table that contains only the artist id and name.
- **albums** table stores data about a list of tracks. Each album belongs to one artist. However, one artist may have multiple albums.
- **media_types** table stores media types such as MPEG audio and AAC audio files.
- **genres** table stores music types such as rock, jazz, metal, etc.
- **tracks** table stores the data of songs. Each track belongs to one album.
- **playlists & playlist_track** tables: playlists table store data about playlists. Each playlist contains a list of tracks. Each track may belong to multiple playlists. The relationship between the playlists table and tracks table is many-to-many. The playlist_track table is used to reflect this relationship.

## Schema Diagram

The above tables in the chinook database are related to each other and they are pre-populated with data. Here database's data model design:

<img src="https://cdn.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg" />

## Exploring the contents of some of the tables

In [11]:
%%sql
SELECT *
FROM invoice_items
LIMIT 10

 * sqlite:///chinook.db
Done.

[(1, 1, 2, 0.99, 1),
 (2, 1, 4, 0.99, 1),
 (3, 2, 6, 0.99, 1),
 (4, 2, 8, 0.99, 1),
 (5, 2, 10, 0.99, 1),
 (6, 2, 12, 0.99, 1),
 (7, 3, 16, 0.99, 1),
 (8, 3, 20, 0.99, 1),
 (9, 3, 24, 0.99, 1),
 (10, 3, 28, 0.99, 1)]

In [4]:
%%sql
SELECT *
FROM customers
where Country = 'USA'
LIMIT 10;

 * sqlite:///chinook.db
Done.

[(16, 'Frank', 'Harris', 'Google Inc.', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', '+1 (650) 253-0000', '+1 (650) 253-0000', 'fharris@google.com', 4),
 (17, 'Jack', 'Smith', 'Microsoft Corporation', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', '+1 (425) 882-8080', '+1 (425) 882-8081', 'jacksmith@microsoft.com', 5),
 (18, 'Michelle', 'Brooks', None, '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', '+1 (212) 221-3546', '+1 (212) 221-4679', 'michelleb@aol.com', 3),
 (19, 'Tim', 'Goyer', 'Apple Inc.', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', '+1 (408) 996-1010', '+1 (408) 996-1011', 'tgoyer@apple.com', 3),
 (20, 'Dan', 'Miller', None, '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', '+1 (650) 644-3358', None, 'dmiller@comcast.com', 4),
 (21, 'Kathy', 'Chase', None, '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', '+1 (775) 223-7665', None, 'kachase@hotmail.com', 5),
 (22, 'Heather', 'Leacock', None, '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', '+1 (407) 999-7788', None, 'hleacock@gmail.com', 4),
 (23, 'John', 'Gordon', None, '69 Salem Street', 'Boston', 'MA', 'USA', '2113', '+1 (617) 522-1333', None, 'johngordon22@yahoo.com', 4),
 (24, 'Frank', 'Ralston', None, '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', '+1 (312) 332-3232', None, 'fralston@gmail.com', 3),
 (25, 'Victor', 'Stevens', None, '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', '+1 (608) 257-0597', None, 'vstevens@yahoo.com', 5)]

## Selecting New Albums to Purchase

In [5]:
%%sql
SELECT it.* FROM invoice_items it
INNER JOIN invoices i on it.invoiceId = i.invoiceId
INNER JOIN customers c on i.customerId = c.customerId
WHERE c.Country = 'USA'

 * sqlite:///chinook.db
Done.

[(74, 13, 462, 0.99, 1),
 (723, 134, 907, 0.99, 1),
 (724, 134, 909, 0.99, 1),
 (782, 145, 1236, 0.99, 1),
 (783, 145, 1245, 0.99, 1),
 (784, 145, 1254, 0.99, 1),
 (785, 145, 1263, 0.99, 1),
 (786, 145, 1272, 0.99, 1),
 (787, 145, 1281, 0.99, 1),
 (788, 145, 1290, 0.99, 1),
 (789, 145, 1299, 0.99, 1),
 (790, 145, 1308, 0.99, 1),
 (791, 145, 1317, 0.99, 1),
 (792, 145, 1326, 0.99, 1),
 (793, 145, 1335, 0.99, 1),
 (794, 145, 1344, 0.99, 1),
 (795, 145, 1353, 0.99, 1),
 (1077, 200, 3035, 0.99, 1),
 (1078, 200, 3041, 0.99, 1),
 (1079, 200, 3047, 0.99, 1),
 (1080, 200, 3053, 0.99, 1),
 (1081, 200, 3059, 0.99, 1),
 (1082, 200, 3065, 0.99, 1),
 (1083, 200, 3071, 0.99, 1),
 (1084, 200, 3077, 0.99, 1),
 (1085, 200, 3083, 0.99, 1),
 (1785, 329, 394, 0.99, 1),
 (1786, 329, 395, 0.99, 1),
 (1903, 352, 1097, 0.99, 1),
 (1904, 352, 1099, 0.99, 1),
 (1905, 352, 1101, 0.99, 1),
 (1906, 352, 1103, 0.99, 1),
 (2021, 374, 1803, 0.99, 1),
 (2022, 374, 1807, 0.99, 1),
 (2023, 374, 1811, 0.99, 1),
 (2024, 374, 1815, 0.99, 1),
 (2025, 374, 1819, 0.99, 1),
 (2026, 374, 1823, 0.99, 1),
 (75, 14, 463, 0.99, 1),
 (76, 14, 464, 0.99, 1),
 (193, 37, 1166, 0.99, 1),
 (194, 37, 1168, 0.99, 1),
 (195, 37, 1170, 0.99, 1),
 (196, 37, 1172, 0.99, 1),
 (311, 59, 1872, 0.99, 1),
 (312, 59, 1876, 0.99, 1),
 (313, 59, 1880, 0.99, 1),
 (314, 59, 1884, 0.99, 1),
 (315, 59, 1888, 0.99, 1),
 (316, 59, 1892, 0.99, 1),
 (606, 111, 207, 0.99, 1),
 (1255, 232, 652, 0.99, 1),
 (1256, 232, 654, 0.99, 1),
 (1314, 243, 981, 0.99, 1),
 (1315, 243, 990, 0.99, 1),
 (1316, 243, 999, 0.99, 1),
 (1317, 243, 1008, 0.99, 1),
 (1318, 243, 1017, 0.99, 1),
 (1319, 243, 1026, 0.99, 1),
 (1320, 243, 1035, 0.99, 1),
 (1321, 243, 1044, 0.99, 1),
 (1322, 243, 1053, 0.99, 1),
 (1323, 243, 1062, 0.99, 1),
 (1324, 243, 1071, 0.99, 1),
 (1325, 243, 1080, 0.99, 1),
 (1326, 243, 1089, 0.99, 1),
 (1327, 243, 1098, 0.99, 1),
 (1609, 298, 2780, 0.99, 1),
 (1610, 298, 2786, 0.99, 1),
 (1611, 298, 2792, 0.99, 1),
 (1612, 298, 2798, 0.99, 1),
 (1613, 298, 2804, 0.99, 1),
 (1614, 298, 2810, 0.99, 1),
 (1615, 298, 2816, 0.99, 1),
 (1616, 298, 2822, 1.99, 1),
 (1617, 298, 2828, 1.99, 1),
 (607, 112, 208, 0.99, 1),
 (608, 112, 209, 0.99, 1),
 (725, 135, 911, 0.99, 1),
 (726, 135, 913, 0.99, 1),
 (727, 135, 915, 0.99, 1),
 (728, 135, 917, 0.99, 1),
 (843, 157, 1617, 0.99, 1),
 (844, 157, 1621, 0.99, 1),
 (845, 157, 1625, 0.99, 1),
 (846, 157, 1629, 0.99, 1),
 (847, 157, 1633, 0.99, 1),
 (848, 157, 1637, 0.99, 1),
 (1138, 209, 3455, 0.99, 1),
 (1787, 330, 397, 0.99, 1),
 (1788, 330, 399, 0.99, 1),
 (1846, 341, 726, 0.99, 1),
 (1847, 341, 735, 0.99, 1),
 (1848, 341, 744, 0.99, 1),
 (1849, 341, 753, 0.99, 1),
 (1850, 341, 762, 0.99, 1),
 (1851, 341, 771, 0.99, 1),
 (1852, 341, 780, 0.99, 1),
 (1853, 341, 789, 0.99, 1),
 (1854, 341, 798, 0.99, 1),
 (1855, 341, 807, 0.99, 1),
 (1856, 341, 816, 0.99, 1),
 (1857, 341, 825, 0.99, 1),
 (1858, 341, 834, 0.99, 1),
 (1859, 341, 843, 0.99, 1),
 (2141, 396, 2525, 0.99, 1),
 (2142, 396, 2531, 0.99, 1),
 (2143, 396, 2537, 0.99, 1),
 (2144, 396, 2543, 0.99, 1),
 (2145, 396, 2549, 0.99, 1),
 (2146, 396, 2555, 0.99, 1),
 (2147, 396, 2561, 0.99, 1),
 (2148, 396, 2567, 0.99, 1),
 (2149, 396, 2573, 0.99, 1),
 (77, 15, 466, 0.99, 1),
 (78, 15, 468, 0.99, 1),
 (136, 26, 795, 0.99, 1),
 (137, 26, 804, 0.99, 1),
 (138, 26, 813, 0.99, 1),
 (139, 26, 822, 0.99, 1),
 (140, 26, 831, 0.99, 1),
 (141, 26, 840, 0.99, 1),
 (142, 26, 849, 0.99, 1),
 (143, 26, 858, 0.99, 1),
 (144, 26, 867, 0.99, 1),
 (145, 26, 876, 0.99, 1),
 (146, 26, 885, 0.99, 1),
 (147, 26, 894, 0.99, 1),
 (148, 26, 903, 0.99, 1),
 (149, 26, 912, 0.99, 1),
 (431, 81, 2594, 0.99, 1),
 (432, 81, 2600, 0.99, 1),
 (433, 81, 2606, 0.99, 1),
 (434, 81, 2612, 0.99, 1),
 (435, 81, 2618, 0.99, 1),
 (436, 81, 2624, 0.99, 1),
 (437, 81, 2630, 0.99, 1),
 (438, 81, 2636, 0.99, 1),
 (439, 81, 2642, 0.99, 1),
 (1139, 210, 3456, 0.99, 1),
 (1140, 210, 3457, 0.99, 1),
 (1257, 233, 656, 0.99, 1),
 (1258, 233, 658, 0.99, 1),
 (1259, 233, 660, 0.99, 1),
 (1260, 233, 662, 0.99, 1),
 (1375, 255, 1362, 0.99, 1),
 (1376, 255, 1366, 0.99, 1),
 (1377, 255, 1370, 0.99, 1),
 (1378, 255, 1374, 0.99, 1),
 (1379, 255, 1378, 0.99, 1),
 (1380, 255, 1382, 0.99, 1),
 (1670, 307, 3200, 1.99, 1),
 (609, 113, 211, 0.99, 1),
 (610, 113, 213, 0.99, 1),
 (668, 124, 540, 0.99, 1),
 (669, 124, 549, 0.99, 1),
 (670, 124, 558, 0.99, 1),
 (671, 124, 567, 0.99, 1),
 (672, 124, 576, 0.99, 1),
 (673, 124, 585, 0.99, 1),
 (674, 124, 594, 0.99, 1),
 (675, 124, 603, 0.99, 1),
 (676, 124, 612, 0.99, 1),
 (677, 124, 621, 0.99, 1),
 (678, 124, 630, 0.99, 1),
 (679, 124, 639, 0.99, 1),
 (680, 124, 648, 0.99, 1),
 (681, 124, 657, 0.99, 1),
 (963, 179, 2339, 0.99, 1),
 (964, 179, 2345, 0.99, 1),
 (965, 179, 2351, 0.99, 1),
 (966, 179, 2357, 0.99, 1),
 (967, 179, 2363, 0.99, 1),
 (968, 179, 2369, 0.99, 1),
 (969, 179, 2375, 0.99, 1),
 (970, 179, 2381, 0.99, 1),
 (971, 179, 2387, 0.99, 1),
 (1671, 308, 3201, 1.99, 1),
 (1672, 308, 3202, 1.99, 1),
 (1789, 331, 401, 0.99, 1),
 (1790, 331, 403, 0.99, 1),
 (1791, 331, 405, 0.99, 1),
 (1792, 331, 407, 0.99, 1),
 (1907, 353, 1107, 0.99, 1),
 (1908, 353, 1111, 0.99, 1),
 (1909, 353, 1115, 0.99, 1),
 (1910, 353, 1119, 0.99, 1),
 (1911, 353, 1123, 0.99, 1),
 (1912, 353, 1127, 0.99, 1),
 (2202, 405, 2945, 0.99, 1),
 (79, 16, 470, 0.99, 1),
 (80, 16, 472, 0.99, 1),
 (81, 16, 474, 0.99, 1),
 (82, 16, 476, 0.99, 1),
 (197, 38, 1176, 0.99, 1),
 (198, 38, 1180, 0.99, 1),
 (199, 38, 1184, 0.99, 1),
 (200, 38, 1188, 0.99, 1),
 (201, 38, 1192, 0.99, 1),
 (202, 38, 1196, 0.99, 1),
 (492, 90, 3014, 0.99, 1),
 (1141, 211, 3459, 0.99, 1),
 (1142, 211, 3461, 0.99, 1),
 (1200, 222, 285, 0.99, 1),
 (1201, 222, 294, 0.99, 1),
 (1202, 222, 303, 0.99, 1),
 (1203, 222, 312, 0.99, 1),
 (1204, 222, 321, 0.99, 1),
 (1205, 222, 330, 0.99, 1),
 (1206, 222, 339, 0.99, 1),
 (1207, 222, 348, 0.99, 1),
 (1208, 222, 357, 0.99, 1),
 (1209, 222, 366, 0.99, 1),
 (1210, 222, 375, 0.99, 1),
 (1211, 222, 384, 0.99, 1),
 (1212, 222, 393, 0.99, 1),
 (1213, 222, 402, 0.99, 1),
 (1495, 277, 2084, 0.99, 1),
 (1496, 277, 2090, 0.99, 1),
 (1497, 277, 2096, 0.99, 1),
 (1498, 277, 2102, 0.99, 1),
 (1499, 277, 2108, 0.99, 1),
 (1500, 277, 2114, 0.99, 1),
 (1501, 277, 2120, 0.99, 1),
 (1502, 277, 2126, 0.99, 1),
 (1503, 277, 2132, 0.99, 1),
 (2203, 406, 2946, 0.99, 1),
 (2204, 406, 2947, 0.99, 1),
 (493, 91, 3015, 0.99, 1),
 (494, 91, 3016, 0.99, 1),
 (611, 114, 215, 0.99, 1),
 (612, 114, 217, 0.99, 1),
 (613, 114, 219, 0.99, 1),
 (614, 114, 221, 0.99, 1),
 (729, 136, 921, 0.99, 1),
 (730, 136, 925, 0.99, 1),
 (731, 136, 929, 0.99, 1),
 (732, 136, 933, 0.99, 1),
 (733, 136, 937, 0.99, 1),
 (734, 136, 941, 0.99, 1),
 (1024, 188, 2759, 0.99, 1),
 (1673, 309, 3204, 1.99, 1),
 (1674, 309, 3206, 1.99, 1),
 (1732, 320, 30, 0.99, 1),
 (1733, 320, 39, 0.99, 1),
 (1734, 320, 48, 0.99, 1),
 (1735, 320, 57, 0.99, 1),
 (1736, 320, 66, 0.99, 1),
 (1737, 320, 75, 0.99, 1),
 (1738, 320, 84, 0.99, 1),
 (1739, 320, 93, 0.99, 1),
 (1740, 320, 102, 0.99, 1),
 (1741, 320, 111, 0.99, 1),
 (1742, 320, 120, 0.99, 1),
 (1743, 320, 129, 0.99, 1),
 (1744, 320, 138, 0.99, 1),
 (1745, 320, 147, 0.99, 1),
 (2027, 375, 1829, 0.99, 1),
 (2028, 375, 1835, 0.99, 1),
 (2029, 375, 1841, 0.99, 1),
 (2030, 375, 1847, 0.99, 1),
 (2031, 375, 1853, 0.99, 1),
 (2032, 375, 1859, 0.99, 1),
 (2033, 375, 1865, 0.99, 1),
 (2034, 375, 1871, 0.99, 1),
 (2035, 375, 1877, 0.99, 1),
 (22, 5, 99, 0.99, 1),
 (23, 5, 108, 0.99, 1),
 (24, 5, 117, 0.99, 1),
 (25, 5, 126, 0.99, 1),
 (26, 5, 135, 0.99, 1),
 (27, 5, 144, 0.99, 1),
 (28, 5, 153, 0.99, 1),
 (29, 5, 162, 0.99, 1),
 (30, 5, 171, 0.99, 1),
 (31, 5, 180, 0.99, 1),
 (32, 5, 189, 0.99, 1),
 (33, 5, 198, 0.99, 1),
 (34, 5, 207, 0.99, 1),
 (35, 5, 216, 0.99, 1),
 (317, 60, 1898, 0.99, 1),
 (318, 60, 1904, 0.99, 1),
 (319, 60, 1910, 0.99, 1),
 (320, 60, 1916, 0.99, 1),
 (321, 60, 1922, 0.99, 1),
 (322, 60, 1928, 0.99, 1),
 (323, 60, 1934, 0.99, 1),
 (324, 60, 1940, 0.99, 1),
 (325, 60, 1946, 0.99, 1),
 (1025, 189, 2760, 0.99, 1),
 (1026, 189, 2761, 0.99, 1),
 (1143, 212, 3463, 0.99, 1),
 (1144, 212, 3465, 0.99, 1),
 (1145, 212, 3467, 0.99, 1),
 (1146, 212, 3469, 0.99, 1),
 (1261, 234, 666, 0.99, 1),
 (1262, 234, 670, 0.99, 1),
 (1263, 234, 674, 0.99, 1),
 (1264, 234, 678, 0.99, 1),
 (1265, 234, 682, 0.99, 1),
 (1266, 234, 686, 0.99, 1),
 (1556, 286, 2504, 0.99, 1),
 (2205, 407, 2949, 0.99, 1),
 (2206, 407, 2951, 0.99, 1),
 (495, 92, 3018, 0.99, 1),
 (496, 92, 3020, 0.99, 1),
 (554, 103, 3347, 1.99, 1),
 (555, 103, 3356, 0.99, 1),
 (556, 103, 3365, 0.99, 1),
 (557, 103, 3374, 0.99, 1),
 (558, 103, 3383, 0.99, 1),
 (559, 103, 3392, 0.99, 1),
 (560, 103, 3401, 0.99, 1),
 (561, 103, 3410, 0.99, 1),
 (562, 103, 3419, 0.99, 1),
 (563, 103, 3428, 1.99, 1),
 (564, 103, 3437, 0.99, 1),
 (565, 103, 3446, 0.99, 1),
 (566, 103, 3455, 0.99, 1),
 (567, 103, 3464, 0.99, 1),
 (849, 158, 1643, 0.99, 1),
 (850, 158, 1649, 0.99, 1),
 (851, 158, 1655, 0.99, 1),
 (852, 158, 1661, 0.99, 1),
 (853, 158, 1667, 0.99, 1),
 (854, 158, 1673, 0.99, 1),
 (855, 158, 1679, 0.99, 1),
 (856, 158, 1685, 0.99, 1),
 (857, 158, 1691, 0.99, 1),
 (1557, 287, 2505, 0.99, 1),
 (1558, 287, 2506, 0.99, 1),
 (1675, 310, 3208, 1.99, 1),
 (1676, 310, 3210, 1.99, 1),
 (1677, 310, 3212, 1.99, 1),
 (1678, 310, 3214, 1.99, 1),
 (1793, 332, 411, 0.99, 1),
 (1794, 332, 415, 0.99, 1),
 (1795, 332, 419, 0.99, 1),
 (1796, 332, 423, 0.99, 1),
 (1797, 332, 427, 0.99, 1),
 (1798, 332, 431, 0.99, 1),
 (2088, 384, 2249, 0.99, 1),
 (83, 17, 480, 0.99, 1),
 (84, 17, 484, 0.99, 1),
 (85, 17, 488, 0.99, 1),
 (86, 17, 492, 0.99, 1),
 (87, 17, 496, 0.99, 1),
 (88, 17, 500, 0.99, 1),
 (378, 69, 2318, 0.99, 1),
 (1027, 190, 2763, 0.99, 1),
 (1028, 190, 2765, 0.99, 1),
 (1086, 201, 3092, 0.99, 1),
 (1087, 201, 3101, 0.99, 1),
 (1088, 201, 3110, 0.99, 1),
 (1089, 201, 3119, 0.99, 1),
 (1090, 201, 3128, 0.99, 1),
 (1091, 201, 3137, 0.99, 1),
 (1092, 201, 3146, 0.99, 1),
 (1093, 201, 3155, 0.99, 1),
 (1094, 201, 3164, 0.99, 1),
 (1095, 201, 3173, 1.99, 1),
 (1096, 201, 3182, 1.99, 1),
 (1097, 201, 3191, 1.99, 1),
 (1098, 201, 3200, 1.99, 1),
 (1099, 201, 3209, 1.99, 1),
 (1381, 256, 1388, 0.99, 1),
 (1382, 256, 1394, 0.99, 1),
 (1383, 256, 1400, 0.99, 1),
 (1384, 256, 1406, 0.99, 1),
 (1385, 256, 1412, 0.99, 1),
 (1386, 256, 1418, 0.99, 1),
 (1387, 256, 1424, 0.99, 1),
 (1388, 256, 1430, 0.99, 1),
 (1389, 256, 1436, 0.99, 1),
 (2089, 385, 2250, 0.99, 1),
 (2090, 385, 2251, 0.99, 1),
 (2207, 408, 2953, 0.99, 1),
 (2208, 408, 2955, 0.99, 1),
 (2209, 408, 2957, 0.99, 1),
 (2210, 408, 2959, 0.99, 1),
 (379, 70, 2319, 0.99, 1),
 (380, 70, 2320, 0.99, 1),
 (497, 93, 3022, 0.99, 1),
 (498, 93, 3024, 0.99, 1),
 (499, 93, 3026, 0.99, 1),
 (500, 93, 3028, 0.99, 1),
 (615, 115, 225, 0.99, 1),
 (616, 115, 229, 0.99, 1),
 (617, 115, 233, 0.99, 1),
 (618, 115, 237, 0.99, 1),
 (619, 115, 241, 0.99, 1),
 (620, 115, 245, 0.99, 1),
 (910, 167, 2063, 0.99, 1),
 (1559, 288, 2508, 0.99, 1),
 (1560, 288, 2510, 0.99, 1),
 (1618, 299, 2837, 1.99, 1),
 (1619, 299, 2846, 1.99, 1),
 (1620, 299, 2855, 1.99, 1),
 (1621, 299, 2864, 1.99, 1),
 (1622, 299, 2873, 1.99, 1),
 (1623, 299, 2882, 1.99, 1),
 (1624, 299, 2891, 1.99, 1),
 (1625, 299, 2900, 1.99, 1),
 (1626, 299, 2909, 1.99, 1),
 (1627, 299, 2918, 1.99, 1),
 (1628, 299, 2927, 0.99, 1),
 (1629, 299, 2936, 0.99, 1),
 (1630, 299, 2945, 0.99, 1),
 (1631, 299, 2954, 0.99, 1),
 (1913, 354, 1133, 0.99, 1),
 (1914, 354, 1139, 0.99, 1),
 (1915, 354, 1145, 0.99, 1),
 (1916, 354, 1151, 0.99, 1),
 (1917, 354, 1157, 0.99, 1),
 (1918, 354, 1163, 0.99, 1),
 (1919, 354, 1169, 0.99, 1),
 (1920, 354, 1175, 0.99, 1),
 (1921, 354, 1181, 0.99, 1),
 (203, 39, 1202, 0.99, 1),
 (204, 39, 1208, 0.99, 1),
 (205, 39, 1214, 0.99, 1),
 (206, 39, 1220, 0.99, 1),
 (207, 39, 1226, 0.99, 1),
 (208, 39, 1232, 0.99, 1),
 (209, 39, 1238, 0.99, 1),
 (210, 39, 1244, 0.99, 1),
 (211, 39, 1250, 0.99, 1),
 (911, 168, 2064, 0.99, 1),
 (912, 168, 2065, 0.99, 1),
 (1029, 191, 2767, 0.99, 1),
 (1030, 191, 2769, 0.99, 1),
 (1031, 191, 2771, 0.99, 1),
 (1032, 191, 2773, 0.99, 1),
 (1147, 213, 3473, 0.99, 1),
 (1148, 213, 3477, 0.99, 1),
 (1149, 213, 3481, 0.99, 1),
 (1150, 213, 3485, 0.99, 1),
 (1151, 213, 3489, 0.99, 1),
 (1152, 213, 3493, 0.99, 1),
 (1442, 265, 1808, 0.99, 1),
 (2091, 386, 2253, 0.99, 1),
 (2092, 386, 2255, 0.99, 1),
 (2150, 397, 2582, 0.99, 1),
 (2151, 397, 2591, 0.99, 1),
 (2152, 397, 2600, 0.99, 1),
 (2153, 397, 2609, 0.99, 1),
 (2154, 397, 2618, 0.99, 1),
 (2155, 397, 2627, 0.99, 1),
 (2156, 397, 2636, 0.99, 1),
 (2157, 397, 2645, 0.99, 1),
 (2158, 397, 2654, 0.99, 1),
 (2159, 397, 2663, 0.99, 1),
 (2160, 397, 2672, 0.99, 1),
 (2161, 397, 2681, 0.99, 1),
 (2162, 397, 2690, 0.99, 1),
 (2163, 397, 2699, 0.99, 1),
 (381, 71, 2322, 0.99, 1),
 (382, 71, 2324, 0.99, 1),
 (440, 82, 2651, 0.99, 1),
 (441, 82, 2660, 0.99, 1),
 (442, 82, 2669, 0.99, 1),
 (443, 82, 2678, 0.99, 1),
 (444, 82, 2687, 0.99, 1),
 (445, 82, 2696, 0.99, 1),
 (446, 82, 2705, 0.99, 1),
 (447, 82, 2714, 0.99, 1),
 (448, 82, 2723, 0.99, 1),
 (449, 82, 2732, 0.99, 1),
 (450, 82, 2741, 0.99, 1),
 (451, 82, 2750, 0.99, 1),
 (452, 82, 2759, 0.99, 1),
 (453, 82, 2768, 0.99, 1),
 (735, 137, 947, 0.99, 1),
 (736, 137, 953, 0.99, 1),
 (737, 137, 959, 0.99, 1),
 (738, 137, 965, 0.99, 1),
 (739, 137, 971, 0.99, 1),
 (740, 137, 977, 0.99, 1),
 (741, 137, 983, 0.99, 1),
 (742, 137, 989, 0.99, 1),
 (743, 137, 995, 0.99, 1),
 (1443, 266, 1809, 0.99, 1),
 (1444, 266, 1810, 0.99, 1),
 (1561, 289, 2512, 0.99, 1),
 (1562, 289, 2514, 0.99, 1),
 (1563, 289, 2516, 0.99, 1),
 (1564, 289, 2518, 0.99, 1),
 (1679, 311, 3218, 1.99, 1),
 (1680, 311, 3222, 1.99, 1),
 (1681, 311, 3226, 1.99, 1),
 (1682, 311, 3230, 1.99, 1),
 (1683, 311, 3234, 1.99, 1),
 (1684, 311, 3238, 1.99, 1),
 (1974, 363, 1553, 0.99, 1)]

In [6]:
%%sql
WITH tracks_sold_usa AS
   (
    SELECT it.* FROM invoice_items it
    INNER JOIN invoices i on it.invoiceId = i.invoiceId
    INNER JOIN customers c on i.customerId = c.customerId
    WHERE c.Country = 'USA'
   )
    
SELECT
    g.name genre,
    count(tsu.InvoiceLineId) tracks_sold,
    cast(count(tsu.InvoiceLineId) AS FLOAT) / (
        SELECT COUNT(*) from tracks_sold_usa
    ) percentage_sold
FROM tracks_sold_usa tsu
INNER JOIN tracks t on t.trackid = tsu.trackid
INNER JOIN genres g on g.genreid = t.genreid
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10;

 * sqlite:///chinook.db
Done.

[('Rock', 157, 0.31781376518218624),
 ('Latin', 91, 0.18421052631578946),
 ('Metal', 64, 0.12955465587044535),
 ('Alternative & Punk', 50, 0.10121457489878542),
 ('Jazz', 22, 0.044534412955465584),
 ('Blues', 15, 0.030364372469635626),
 ('TV Shows', 14, 0.02834008097165992),
 ('R&B/Soul', 12, 0.024291497975708502),
 ('Comedy', 8, 0.016194331983805668),
 ('Classical', 8, 0.016194331983805668)]

Based on the sales of tracks across different genres in the USA, we should purchase the new albums by the following artists:

    Red Tone (Punk)
    Slim Jim Bites (Blues)

It's so strange that Hip Hop and Pop genres are not part of the list. It's worth investigating why. 

Also the results table suggests that we should be on the lookout for artists and albums from the 'rock' genre, which accounts for 32% of sales.

## Employee Sales Performance

In [7]:
%%sql

WITH customer_support_rep_sales AS
    (
     SELECT
         i.customerId,
         c.supportRepId,
         SUM(i.total) total
     FROM invoices i
     INNER JOIN customers c ON i.customerId = c.customerId
     GROUP BY 1,2
    )

SELECT
    e.firstName || " " || e.lastName employees,
    e.hireDate,
    SUM(csrs.total) total_sales
FROM customer_support_rep_sales csrs
INNER JOIN employees e ON e.employeeId = csrs.supportRepId
GROUP BY 1;

 * sqlite:///chinook.db
Done.

[('Jane Peacock', '2002-04-01 00:00:00', 833.0400000000001),
 ('Margaret Park', '2003-05-03 00:00:00', 775.4000000000001),
 ('Steve Johnson', '2003-10-17 00:00:00', 720.1600000000001)]

Even if the difference in sales between Jane (the top employee) and Steve (the bottom employee) is almost 14%, the difference is most likely due to the fact that Jane Peacock has stayed at the company for a longer period considering the difference in hiring dates.

## Sales by Country

In [8]:
%%sql

WITH country_or_other AS
    (
     SELECT
       CASE
           WHEN (
                 SELECT count(*)
                 FROM customers
                 where Country = c.Country
                ) = 1 THEN "Other"
           ELSE c.Country
       END AS country,
       c.customerId,
       it.*
     FROM invoice_items it
     INNER JOIN invoices i ON i.invoiceId = it.invoiceId
     INNER JOIN customers c ON c.customerId = i.customerId
    )

SELECT
    country,
    customers,
    total_sales,
    average_order,
    customer_lifetime_value
FROM
    (
    SELECT
        country,
        count(distinct customerId) customers,
        SUM(unitPrice) total_sales,
        SUM(unitPrice) / count(distinct customerId) customer_lifetime_value,
        SUM(unitPrice) / count(distinct invoiceId) average_order,
        CASE
            WHEN country = "Other" THEN 1
            ELSE 0
        END AS sort
    FROM country_or_other
    GROUP BY country
    ORDER BY sort ASC, total_sales DESC
    );

 * sqlite:///chinook.db
Done.

[('USA', 13, 523.060000000003, 5.747912087912121, 40.235384615384845),
 ('Canada', 8, 303.9600000000013, 5.427857142857166, 37.99500000000016),
 ('France', 5, 195.1000000000003, 5.574285714285723, 39.02000000000006),
 ('Brazil', 5, 190.10000000000028, 5.4314285714285795, 38.02000000000005),
 ('Germany', 4, 156.48, 5.588571428571428, 39.12),
 ('United Kingdom', 3, 112.85999999999979, 5.374285714285704, 37.619999999999926),
 ('Czech Republic', 2, 90.23999999999997, 6.445714285714283, 45.11999999999998),
 ('Portugal', 2, 77.23999999999998, 5.517142857142856, 38.61999999999999),
 ('India', 2, 75.25999999999998, 5.789230769230768, 37.62999999999999),
 ('Other', 15, 604.3000000000037, 5.755238095238131, 40.28666666666691)]

Based on the data, there may be opportunity in Czech Republic, and India- considering they have quite high average order numbers.

Also we should not forget the sample size from each of these countries is relatively low. 
Consequently, we should be cautious investing too much money on new marketing campaigns. 
Hence it would be wise to run small campaigns in these countries, collect and analyze the new customers to make sure that these trends hold with new customers.

## Albums vs Individual Tracks

In [9]:
%%sql

WITH invoice_first_track AS
    (
     SELECT
         it.invoiceId invoiceId,
         MIN(it.trackId) first_track_id
     FROM invoice_items it
     GROUP BY 1
    )

SELECT
    album_purchase,
    COUNT(invoiceId) number_of_invoices,
    CAST(count(invoiceId) AS FLOAT) / (
                                         SELECT COUNT(*) FROM invoices
                                      ) percent
FROM
    (
    SELECT
        ifs.*,
        CASE
            WHEN
                 (
                  SELECT t.trackId FROM tracks t
                  WHERE t.albumId = (
                                      SELECT t2.albumId FROM tracks t2
                                      WHERE t2.trackId = ifs.first_track_id
                                     ) 

                  EXCEPT 

                  SELECT it2.trackId FROM invoice_items it2
                  WHERE it2.invoiceId = ifs.invoiceId
                 ) IS NULL
             AND
                 (
                  SELECT it2.trackId FROM invoice_items it2
                  WHERE it2.invoiceId = ifs.invoiceId

                  EXCEPT 

                  SELECT t.trackId FROM tracks t
                  WHERE t.albumId = (
                                      SELECT t2.albumId FROM tracks t2
                                      WHERE t2.trackId = ifs.first_track_id
                                     ) 
                 ) IS NULL
             THEN "yes"
             ELSE "no"
         END AS "album_purchase"
     FROM invoice_first_track ifs
    )
GROUP BY album_purchase;

 * sqlite:///chinook.db
Done.

[('no', 410, 0.9951456310679612), ('yes', 2, 0.0048543689320388345)]

Album purchases account for only 0.4% of purchases. Based on this data, I would suggest purchasing only select tracks from albums from record companies, since they account for almost 100% of revenue.